<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :content %>
    <%= f.association :survey %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
