<h1>Log In</h1>
<%= form_tag sessions_path, class: "form-horizontal", role: "form" do %>
  <div class="form-group">
    <%= label_tag :email, nil, class: "col-sm-1 control-label" %>
    <div class="col-sm-6">
    	<%= text_field_tag :email, params[:email], class: "form-control", placeholder: "Email" %>
    </div>
  </div>
  <div class="form-group">
  	<%= label_tag :password, nil, class: "col-sm-1 control-label" %>
    <div class="col-sm-6">
      <%= password_field_tag :password, nil, class: "form-control", placeholder: "Password" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
      <%= button_tag "Log In", { class: "btn btn-default", type: "submit"} %>
    </div>
  </div>
<% end %>