<%= form_tag(response_answers_path(@response)) %>
	<% @questions.each do |question| %>
		<% @i += 1 %>
	<div class="form-group">
		<%= hidden_field_tag "answer[#{@i}][question_id]", question.id %>
		<%= hidden_field_tag "answer[#{@i}][response_id]", @response.id %>
		<%= label_tag "answer[#{@i}][content]", question.content %>
		<div>
		<% if question.txt_area %>
			<%= text_area_tag "answer[#{@i}][content]", nil, cols: "100", rows: "5" %>
		<% elsif !question.rated %>
			<%= text_field_tag "answer[#{@i}][content]" %>
		<% else %>
			<% (1..10).each do |i| %>
				<label class="radio-inline">
				<%= radio_button_tag "answer[#{@i}][content]", i %>
				<%= i %>
				</label>
			<% end %>

		<% end %>
		</div>
	</div>
	<% end %>
		<%= submit_tag "Send Feedback!", class: 'btn btn-default' %>
</form>
