<script type="text/javascript">
	$(function() {
		new Highcharts.Chart({
			chart: {
				renderTo: "chart_<%= @bootcamp.id %>"
			},
			title: {
				text: "<%= @bootcamp.title %> Ratings"
			},
			xAxis: {
				title: {
					text: "Term"
				}
			},
			yAxis: {
				title: {
					text: "Rating"
				}
			},
			series: [
				<% @r_types.each do |r_type| %>
				{
				name: "<%= r_type.short_content %>",
				pointInterval: <%= 1 %>,
				pointStart: <%= 1 %>,
				data: <%= (1..4).map {|term| Answer.find_by_sql("SELECT  avg(answers.content) as rating FROM answers JOIN questions ON questions.id = answers.question_id JOIN responses ON responses.id = answers.response_id WHERE questions.id = #{r_type.id} AND responses.bootcamp_id = #{@bootcamp.id} AND responses.survey_id = #{@survey.id} AND responses.term = #{term}").first.rating.to_f.round(2)}.inspect %> 
				}<%= ',' unless r_type.id == @r_type_end.id %>
				<% end %>
			]
		})
	})
</script>

<div class="row">	
	<div class="page-header">
		<h1><span class="dojo-class-name"><%= @bootcamp.title %></span> <small><%= @survey.name %></small></h1>
		<h3><%= @bootcamp.date.to_datetime.strftime("%B %d %Y") %></h3>
	</div>
	
</div>
<div class="row">
	<div style="width:800px; height:400px" id="chart_<%= @bootcamp.id %>"></div>
	<h4>Rating Averages</h4>
	<table class="table table-condensed table-bordered">
		<thead>
			<% @ratings.each do |title| %>
				<%= content_tag(:th, title.short_content) %>
			<% end %>
		<thead>
		<tbody>
			<tr>
			<% @ratings.each do |rating| %>
				<td><%= rating.ratings.round(2) %></td>
			<% end %>
			</tr>
		</tbody>
	</table>
</div>