<h1><%= @bootcamp.title %></h1>
<h2><%= @survey.name %></h2>
<table class="table table-striped">
	<thead>
		<% @questions.each do |question| %>
		<%= content_tag(:th, question.content) %>
		<% end %>
	</thead>
	<tbody>
		<% rated_sum = {} %>
		<% @responses.each do |response| %>
		<tr>
			<% response.answers.select("questions.id as qid, questions.rated, answers.content as a_cont").joins(:question).order("questions.rated").each do |answer|%>
					<% if answer.rated != 't' %> 
						<td><%= answer.a_cont %></td>
					<% else %>
						<% rating = answer.a_cont.to_i %>
						<% if rated_sum["id#{answer.qid}"].nil? %>
							<% rated_sum["id#{answer.qid}"] = rating  %>
							<% puts "setting rated_sum: #{rated_sum}" %>
						<% else %>
							<% rated_sum["id#{answer.qid}"] += rating %>
							<% puts "adding to rated_sum: #{rated_sum}" %>
						<% end %>
						<td><%= answer.a_cont %></td>
					<% end %>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>
<table>
	<thead>
		<% @questions.each do |question| %>
		<%= content_tag(:th, question.content) if question.rated %>
		<% end %>
	<thead>
	<tbody>
		<tr>
		<% rated_sum.each do |index, rsum| %>
			<td><%= rsum.to_f / @rcount %></td>
		<% end %>
		</tr>
	</tbody>