<p id="notice"><%= notice %></p>
<div class="pull-left">
<h3>
  <%= @survey.name %>
</h3>
</div>
<div class="pull-right">
	<%= link_to " See All #{@survey.name} Results", survey_responses_all_path(@survey.id), class: 'btn btn-default glyphicon glyphicon-stats' %>
	<% if !@warlock.nil? %>
		<%= link_to ' Edit', edit_survey_path(@survey), class: 'btn btn-default glyphicon glyphicon-edit i-warlock' %>
	<% end %>
</div>
<div class="clear"></div>
<h5>Feedback Questions</h5>
<% rated_heading = false %>
<% @questions.each do |q| %>
	<% if q.rated && !rated_heading %>
		<h5>Rating Questions</h5>
		<% rated_heading = true %>
	<% end %>
	<div>
		<%= q.content %>
	</div>
<% end %>
<div class="row">

</div>
