<%= simple_form_for(@bootcamp) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :title %>
    <%= f.input :date %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
