<div class="pull-left">
  <h2>Groups</h2>
</div>
<% if !@warlock.nil? %>
<div class="pull-right"><%= link_to ' Add New Group', new_bootcamp_path, class: 'add_fields btn btn-default glyphicon glyphicon-plus-sign' %></div>
<% end %>
<div class="clear"></div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Location</th>
      <th>Group Email</th>
      <% if !@warlock.nil? %>
        <th>Actions</th>
      <% end %> 
    </tr>
  </thead>
  <tbody>
    <% @bootcamps.each do |bootcamp| %>
    <tr>
      <td><%= link_to bootcamp.title, bootcamp_path(bootcamp.id) %></td>
      <td><%= bootcamp.date %></td>
      <td><%= "#{bootcamp.location.city}, #{bootcamp.location.state}" %></td>
      <td><%= Bootcamp.find(bootcamp.id).group_email %></td>
      <% if !@warlock.nil? %>
        <td>
          <%= link_to ' Edit', edit_bootcamp_path(bootcamp.id), class: "btn btn-default btn-sm glyphicon glyphicon-edit i-warlock" %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br />


